<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <style>
        /* this enforces some padding and right-fload of the cart.summary even when small.*/
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse" role="navigation">
        <a href="#" class="navbar-brand">
            <span class="hidden-xs">SPORTS STORE</span>
            <span class="visible-xs" style="margin-top: -12px;">SPORTS</span><span class="visible-xs">STORE</span>
        </a>
        <div class="container">
            @Html.Action("Summary", "Cart")<div class="container">
            </div>
        </div>
    </div>
    <div class="visible-xs">
        @*call NavController.Menu() method, and pass in bool value if we need it to be a different layout*@
        @Html.Action("Menu", "Nav", new { horizontalLayout = true })
    </div>
    <div class="row panel">
        <div id="categories" class="col-sm-3 hidden-xs">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8">
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>