@model firstMvcApp.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>RsvpForm</title>

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css"/>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>

</head>
<body class="container">
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h4>RSVP</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Your name:</label>
                @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Your email:</label>
                @*i did this as html.textbox because a string is valid to databind*@
                @Html.TextBox("Email", null, new {@class = "form-control"})

            </div>
            <div class="form-group">
                <label>Your phone:</label>
                @Html.TextBoxFor(x => x.Phone, new {@class = "form-control"})

            </div>
            <div class="form-group">
                <label> Will you attend?</label>


                @Html.DropDownListFor(x => x.WillAttend, new[]
                {
                    new SelectListItem()
                    {
                        Text = "Yes, I'll be there",
                        Value = bool.TrueString
                    },
                    new SelectListItem()
                    {
                        Text = "No, I can't come",
                        Value = bool.FalseString
                    }
                },
                    "Choose an option", new {@class = "form-control"})


            </div>
            <input type="submit" value="Submit RSVP" class="btn btn-success"/>
        }
    </div>
</div>

</body>
</html>