@using SportsStore.Domain.Entities
@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";

}
@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
    @*<div class="well">
            <h3>
                <strong>@p.Name</strong>
                <span class="pull-right label label-primary">@p.Price.ToString("C")</span>
            </h3>
            <span class="lead">@p.Description</span>
        </div>*@
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>